@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

header, main, footer {
    position: relative;
    margin: 0;
}

main {
    height: 720px;
}

header {
    height: 139px;
}

/* Header*/
span {
    position: absolute;
    width: 100%;
    height: 38px;
    left: 0px;
    top: 0px;
    background: #1CD1B0;
    display: inline-block;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding-top: 15px;
    padding-left: 15px;
}

h1 {
    position: absolute;
    width: 100%;
    height: 101px;
    left: 0px;
    top: 38px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
}

/* Main */
section {
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 529px;
    width: 300px;
    top: 100px;
}

article {
    position: relative;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-b1 {
    left: 10%;
}

.section-b2 {
    left: 25%;
}

.section-b3 {
    left: 40%;
}

img {
    position: absolute;
}

.img-logo {
    width: 120px;
    height: 118px;
    left: 90px;
    top: 130px;
    border-radius: 50%;
    z-index: 2;
}


h2 {
    position: absolute;
    width: 171px;
    height: 35px;
    left: 90px;
    top: 240px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    background-color: #F3F3F3;
}

.h2-harley {
    left: 70px !important;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.p_section {
    position: absolute;
    color: #333333;
    display: inline-block;
    width: 267px;
    height: 113px;
    left: 20px;
    top: 310px;
}


input {
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    left: 90px;
    top: 454px;
    background: #00669F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #F3F3F3;
    border: 0;
}

footer {
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 51px;
}

.p_footer {
    width: 400px;
    height: 19px;
    left: 16px;
    top: 988px;
    text-align: center;
    color: #FFF9F9;
    padding-top: 15px;
    padding-left: 15px;
}